@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "TT Commons Pro";
  src: url("./assets/TT_Commons_Pro/TT_Commons_Pro_Normal.otf");
  font-weight: normal;
}
@font-face {
  font-family: "TT Commons Pro";
  src: url("./assets/TT_Commons_Pro/TT_Commons_Pro_Medium.otf");
  font-weight: 450;
}
@font-face {
  font-family: "TT Commons Pro";
  src: url("./assets/TT_Commons_Pro/TT_Commons_Pro_DemiBold.otf");
  font-weight: 600;
}

@theme inline {
  --font-main: "TT Commons Pro";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-focus: var(--secondary-focus);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-warn: var(--warn);
  --color-accept: var(--accept);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --breakpoint-tablet: 23.5rem;
  --breakpoint-desktop: 90rem;
  --font-weight-450: 450;
}

:root {
  --background: #fffcfa;
  --foreground: #1b2426;
  --primary: #39494d;
  --primary-foreground: #ffffff;
  --secondary: #bf564d;
  --secondary-hover: #a6433a;
  --secondary-focus: #59201b;
  --secondary-foreground: #ffffff;
  --destructive: #be3e13;
  --warn: #f2b661;
  --accept: #6d8d4e;
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-main;
  }
}
